
header nav {
    display: flex;
    gap: 5px;
    max-width: 1550px;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 3px solid var(--primary);
   


    position: fixed;
    top: 0;
    width: 100%;
    padding:10px;
    height: 80px;
    z-index: 1 ;

   /* Animation */
   transition-timing-function: ease-in;
   transition: all 0.5s;
   
}

.nav_black {
    background-color: #111;
    
}

nav h1{
    margin-right:700px ;
    font-size: 1.7rem;
}


header nav a{
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
}

a:hover {
    color: #000;
    background-color: var(--primary);
    transition: all 0.2s;
}
nav .rise{
    padding-left: 10px;
    font-size: 0.9rem;
    color: aliceblue;
}
